.plugin-title {
  position: relative;
}
.plugin-title h1 {
  margin-bottom: 16px;
}
.plugin-logo {
  background-color: #295cbf;
  border-radius: 4px;
  padding: 5px;
  margin-right: .25rem;
  margin-bottom: -18px;
}

ul.list {
  list-style: disc;
  padding-left: 2rem;
}
